*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: 2%;
}
body{
    margin: 2%;
    width: 66%;
    height: 55rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h1{
    width: 100%;
}

h3{
    width: 100%;
}
